body {
    padding: 30px; /* Внутренний отступ для всего тела страницы */
    font-style: revert;
    color: #3e003e;
    background-color: #f0d6ff; /* Замените на нужный цвет */
    height: 100vh; /* Заставляем body занимать всю высоту экрана */
    box-sizing: border-box; /* Учитываем padding в общую ширину страницы */
}
.centered-title {
    text-align: center; /* Центровка текста по горизонтали */
}
.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.centered-list {
    margin-top: 0;
    padding-left: 20px; /* Чтобы отодвинуть точки от текста */
}
.error {
    color: red;
}
